.about {
    background-color: var(--color-white);
}

@media (max-width: 768px) {
    .about-main-title {
        font-size: 2.5rem !important;
    }

    .about-image {
        margin-bottom: 3rem;
    }

    .experience-badge {
        padding: 1.5rem !important;
        bottom: 10px !important;
        right: 10px !important;
    }
}